.navbar {
    background-color: aliceblue;
}

.navbar-brand,
.nav-link {
    color: rgb(58, 154, 238); 
}

.nav-link:hover {
    color: rgb(22, 131, 227); 
}

.book-cover {
    max-height: 250px;
    min-height: 250px;
    object-fit: cover;
}
