body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.nav-title {
    height: 80px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 600;
    background-color: #333333;
    color: white;
}

.navbar-links {
    background-color: #EEEEEE;
    padding: 0;
    margin: 0;
}

.navbar-links ul {
    list-style: none;
    display: flex;
    margin: 0 15px;
    padding: 15px;
    gap: 40px;
}

li {
    padding: 3px;
}

.navbar-links li:hover {
    background-color: #D5B8A9;
    padding: 3px;
    color: white;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 60px;
    /* margin: 50px 30px 30px 50px; */
}

.product {
    position: relative;
}

.product img {
    height: 300px;
    width: 250px;
    border-radius: 10px;
}

figure {
    margin: 0;
    padding: 0;
}

.figure-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #D5B8A9;
}

.figure-text h4 {
    padding: 0;
    margin: 0;
}

.figure-text p {
    padding: 0;
    margin: 0;
}

footer {
    padding: 60px 60px 0 60px;
    background-color: #333333;
    color: white;
}

.footer-first-row {
    display: flex;
    justify-content: space-between;
}

h4,h5 {
    margin: 0;
    padding: 5px;
}

.help {
    display: flex;
    gap: 45px;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.faq ul {
    list-style: none;
    padding: 0;
    justify-content: center;
}

.footer-second-row {
    display: flex;
    justify-content: center;
}

footer a:link {
    color: white;
    text-decoration: none;
}

footer a:hover {
    background-color: #D5B8A9;
    padding: 3px;
    color: white;
}

footer a:visited {
    color: white;
}