body {
    background-color: #F5F4F8;
    font-family: "Inter", sans-serif;
}

/* NAVBAR */
nav {
    background-color: #fff;
}

.nav-btn {
    border: none;
    background-color: transparent;
}

.bell-icon {
    background-color: #F5F4F8;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.nav-avatar {
    width: 35px;
    height: 35px;
}

/* HERO AND SUB-HERO */
.hero {
    background-color: #7550FE;
    color: #BCA8FF;
}

.hero h1 {
    color: #fff;
    font-weight: 700;
}

.btn-green {
    border: none;
    background-color: #1ACB98;
    padding: 10px;
    color: #fff;
    font-weight: 700;
}

.btn-white {
    border: none;
    background-color: #fff;
    padding: 10px;
    color: #000;
    font-weight: 700;
}

.subhero {
    border-bottom: 1px solid rgb(221, 219, 219);
    background-color: #fff;
}

.subhero-icon {
    background-color: #FFEEDA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.sub-hero-text p {
    margin: 0;
    color: #5C5776;
}

.sub-hero-text span {
    font-weight: 700;
    color: #000;
}

/* CARDS */

.course-description {
    font-size: small;
    padding-bottom: 10px;
}

.stars {
    color: #FFAA46;
}

.reviews {
    color: #A8A3B9;
}

.on-sale {
    text-decoration: line-through;
    color: #A8A3B9;
}

.current-price {
    font-weight: 700;
    font-size: 15px;
}

.border-avatar {
    border-top: 1px solid rgb(221, 219, 219);
}

/* FOOTER */
.text-color {
    color: #5C5776;
}


