.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 400px;
}

.tulips {
    width: 300px;
    height: 400px;
}

.button-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.save-button {
    background-color: red;
    padding: 8px;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    border: none;
    display: none;
}

.share-buttons{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.grey-button {
    border-radius: 30%;
    padding: 8px;
    border-radius: 30px;
    font-weight: bold;
    border: none;
}

/* il + indica il sibling, l'elemento adiacente, vedi https://jsfiddle.net/1u05xztp/1/ */

/* OK */
/* .img-container:hover {
    opacity: 0.5;
} */

/* .img-container:hover .button-container{
    display: flex;
} */