@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --background: #ecf0f1;
    --nav-bg-color: #2c3e50;
    --link-color: #bdc3c7;
    --hover-text-bg:  #fff;
    --card-bg-color: #ef595e;
}

body {
    background-color: var(--background);
    font-family: "Roboto", sans-serif;
}

.navbar {
    background-color: var(--nav-bg-color);
}

.nav-link {
    color: var(--hover-text-bg);
}

.nav-link:hover {
    color: var(--hover-text-bg);
}

.container {
    padding: 0;
}

.card {
    background-color: var(--card-bg-color);
    font-size: 12px;
}

.card-link {
    text-decoration: none;
}

.card-title,
.card-text {
    color: var(--nav-bg-color);
    margin: 0;
}

.btn {
    background-color: var(--nav-bg-color);
    color: var(--hover-text-bg);
}

.row-img {
    width: 50px;
    height: 50px;
}