@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    margin: 0px;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#main {
    width: 100%;
}

#content {
    height: 100%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-icon {
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.sidebar-icon p {
    margin: 0;
}

.sidebar-icon ion-icon {
    font-size: 1.5em;
}

#topbar {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 50%;
  }

#search-wrapper {
    display: flex;
    height: 50%;
    width: 30%;
}

#topbar-icons {
    cursor: pointer;
    display: flex;
}

.topbar-icon ion-icon {
    font-size: 2em;
    padding: 0 0.5em;
}

#mic-icon {
    margin: 0 0.5em;
}

#mic-icon ion-icon {
    font-size: 1.7em;
}

#search-btn {
    padding: 0 0.6em;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

#content {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 0px;
}

.preview {
    height: 600px;
    width: 350px;
}

.preview img {
    height: 25%;
    padding: 5px 5px 0px 5px;
}

.description {
    height: 15%;
    display: flex;
    align-self: center;
}

.caption {
    display: flex;
    flex-wrap: wrap;
    height: 15%;
}